.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.grid-item {
    height: 40vh;
    background-color: #ddd;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}